<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="../../static/js/jquery-3.1.0.js"></script>
</head>

<body>
    <!-- <nav class="navbar navbar-fixed-top"> -->
    <img src="{{ url_for('static', filename='images/banner.png') }}" class="img-responsive" alt="Responsive image"> 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert" align="center" style="text-align: center; margin-top:2px; margin-left:2px; margin-right:2px;">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if options['Switch'] %}
        {% if request.path == "/dashboard/" %}
            <a href="/tutor/" class="btn btn-default" style="float:left;margin-left:10px;margin-top:10px;">Switch Mode</a>
        {% else %}
            <a href="/dashboard/" class="btn btn-default" style="float:left;margin-left:10px;margin-top:10px;">Switch Mode</a>
        {% endif %}
    {% endif %}
    {% if options['LoggedIn'] %}
        <a href="/logout/" class="btn btn-default" style="float:right;margin-right:10px;margin-top:10px;">Logout</a>
    {% endif %}

    {% block body %}{% endblock %}
</body>
</html>
