{% extends "header.html" %}

{% block body %}

<div id="failed" class="alert alert-danger" align="center" style="text-align: center; margin-top:2px; margin-left:2px; margin-right:2px;" hidden>
    <strong>Invalid Username and Password</strong>
</div>

<div id="content" class="container-fluid" align="center" style="margin-top: 120px"> 
    <div class="container" align="center">
        <input type="text" class="form-control" placeholder = "Username" id="username" style="height: 44px;width: 300px"><br>
        <input type="password" class="form-control" placeholder = "Password" id="password" style="height: 44px;width: 300px"><br>
        <button class="btn btn-success btn-lg btn-block" style="width: 300px;" onclick="login()">Login</button>
      </form>
    </div>
</div>


<script type= "text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

