{% extends "header.html" %}

{% block body %}

<div class="container-fluid" align="center" style="margin-top: 10px">
 <h1> Tutor Portal </h1>


    <select size="1" id="Rank" title="" name="Rank">

    <option value="">-Select Your Tutorial-</option>
           {% for tutorials in Polavo %}
    <option value="TutorT1"> {{ tutorials.ID}}</option>
    <option value="TutorT2"> {{tutorials.ID}}</option>
        {% endfor %}
</select>


<div class="container">
    <div class="TutorT1">

       <form  onsubmit="return classCode();" >
         Student Attendance: <input type="text" name="Attendance" required ><br>
         Students Left: <input type="text" name="Left" required><br>
        <input type="submit" value="Submit"  >

        </form>

    </div>
    <div class="TutorT2">
          <form  onsubmit="return classCode();" >
         Student Attendance: <input type="text" name="Attendance" required ><br>
         Students Left: <input type="text" name="Left" required ><br>
        <input type="submit" value="Submit"  >
        </form>
    </div>
</div>
{##}
{#<div class="second-level-container">#}
{#    <div class="basic-ore-1">#}
{#        Line of text#}
{#    </div>#}
{#    <div class="basic-ore-2">#}
{#        Line of text#}
{#    </div>#}
{#    <div class="omber-miner-1">#}
{#        Line of text#}
{#    </div>#}
{#    <div class="omber-miner-2">#}
{#        Line of text#}
{#    </div>#}
{#</div>#}
</div>
{% endblock %}
