<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

	<script src="../../static/js/jquery-3.1.0.js"></script>
    <style>
        body {
            background-color: #ddf2da;
        }
        .left
        {
            margin-left: 35px;
        }
    </style>
</head>


{% block body %}

<div class="container-fluid" align="center" style="margin-top: 10px">
 <h1> Tutor Portal </h1>


    <select size="1" id="Rank" title="" name="Rank">

    <option value="">-Select Your Tutorial-</option>
    {% for tute in info %}
        <option value="{{tute['ID']}}">{{tute['ID']}}</option>
    {% endfor %}
</select>


<!--<div class="container">-->
      <div class="TutorT1", id= "TutorT1">

       <form  >
           <br>
         Student Attendance: <input type="text", id="Attendance" style=" outline-color: #888c8a; background-color: #efeded" name="Attendance" required ><br><br>
         Students Left: <input type="text", class = "Left" id="Left" style=" outline-color: #888c8a; background-color: #efeded "  name="Left" required><br><br>
        <input type="button" id = "tutorSubmit" class = "tutorSubmit", style="background-color: #dddddd; outline-color: #666666; color: black; " value="Submit", onclick = "classCode()" >

        </form>

    </div>
         <!--</div>-->
{##}
{#<div class="second-level-container">#}
{#    <div class="basic-ore-1">#}
{#        Line of text#}
{#    </div>#}
{#    <div class="basic-ore-2">#}
{#        Line of text#}
{#    </div>#}
{#    <div class="omber-miner-1">#}
{#        Line of text#}
{#    </div>#}
{#    <div class="omber-miner-2">#}
{#        Line of text#}
{#    </div>#}
{#</div>#}
</div>
    <script type= "text/javascript" src="{{ url_for('static', filename='js/tutor.js') }}"></script>
{% endblock %}
