{% extends "header.html" %}

{% block body %}

<div class="container-fluid" align="center" style="margin-top: 10px">
 <h1> Tutor Portal </h1>


    <select size="1" id="Rank" title="" name="Rank">

    <option value="hello">-Select Your Tutorial-</option>
    {% for tute in info %}
        <option id ="TutorialSession" ,value="{{tute['ID']}}">{{tute['ID']}}</option>
    {% endfor %}
</select>


<!--<div class="container">-->
    <div class="TutorT1", id= "TutorT1">

       <form  >
         Student Attendance: <input type="text", id="Attendance",name="Attendance" required ><br>
         Students Left: <input type="text", id="Left" ,name="Left" required><br>
        <input type="button" id = "tutorSubmit" class = "tutorSubmit", value="Submit", onclick = "classCode()" >

        </form>

    </div>

{##}
{#    <div id="tutorCode", style = "display: none ">#}
{#         CCCode: <input type ="text", id="Code", value ="code">#}
{#    </div>#}

         <!--</div>-->
{##}
{#<div class="second-level-container">#}
{#    <div class="basic-ore-1">#}
{#        Line of text#}
{#    </div>#}
{#    <div class="basic-ore-2">#}
{#        Line of text#}
{#    </div>#}
{#    <div class="omber-miner-1">#}
{#        Line of text#}
{#    </div>#}
{#    <div class="omber-miner-2">#}
{#        Line of text#}
{#    </div>#}
{#</div>#}
</div>
    <script type= "text/javascript" src="{{ url_for('static', filename='js/tutor.js') }}"></script>
{% endblock %}
