{% extends "header.html" %}

{% block body %}
    <style>


   table {
    #border-collapse: collapse;
           width: 25%;
        padding: 100px;


}

td th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}
    tr:hover{background-color: #f5f5f5}
{#tbody#}
{#{#}
{#      height: 100px;#}
{#    overflow-y: auto;#}
{#    overflow-x: hidden;#}
{#}#}

a, u {
    text-decoration: none;
    color: #0f0f0f;
}

a {
    text-decoration: none !important;
}

    </style>
<div class="container-fluid" align="center" style="margin-top: 10px">
      <h1> Cab202 </h1>




    <h2> Weekly Overview </h2>

            <table >

                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Week 1</th>
                    <th>Week 2</th>
                    <th>Week 3</th>
                    <th>Week 4</th>
                    <th>Week 5</th>



                </tr>
{#                <tbody>#}
                <tr>
                    <td><a href="index" >MON</a></td>
                    <td><a href="index" >14:00</a></td>
                    <td><a href="index" >Z201</a></td>
                    <td>3/5</td>
                    <td>4/5</td>
                    <td>4/5</td>
                    <td>4/5</td>
                    <td>5/5</td>


                </tr>
                <tr>
                    <td><a href="index" >MON</a></td>
                    <td><a href="index" >14:00</a></td>
                    <td><a href="index" >Z201</a></td>
                    <td>3/5</td>
                    <td>3/5</td>
                    <td>4/5</td>
                    <td>3/5</td>
                    <td>4/5</td>
                </tr>
                <tr>
                    <td><a href="index" >MON</a></td>
                    <td><a href="index" >14:00</a></td>
                    <td><a href="index" >Z201</a></td>
                    <td>2/5</td>
                    <td>4/5</td>
                    <td>3/5</td>
                    <td>5/5</td>
                    <td>4/5</td>
                </tr>
              <tr>
                    <td><a href="index" >MON</a></td>
                    <td><a href="index" >14:00</a></td>
                    <td><a href="index" >Z201</a></td>
                    <td>1/5</td>
                    <td>1/5</td>
                    <td>2/5</td>
                    <td>3/5</td>
                    <td>2/5</td>
                </tr>
              <tr>
                    <td><a href="index" >MON</a></td>
                    <td><a href="index" >14:00</a></td>
                    <td><a href="index" >Z201</a></td>
                    <td>2/5</td>
                    <td>3/5</td>
                    <td>2/5</td>
                    <td>4/5</td>
                    <td>5/5</td>
                </tr>
              <tr>
                    <td><a href="index" >MON</a></td>
                    <td><a href="index" >14:00</a></td>
                    <td><a href="index" >Z201</a></td>
                    <td>3/5</td>
                    <td>3/5</td>
                    <td>3/5</td>
                    <td>3/5</td>
                    <td>3/5</td>
                </tr>
              <tr>
                    <td><a href="index" >MON</a></td>
                    <td><a href="index" >14:00</a></td>
                    <td><a href="index" >Z201</a></td>
                    <td>3/5</td>
                    <td>4/5</td>
                    <td>2/5</td>
                    <td>3/5</td>
                    <td>5/5</td>
                </tr>


{#            </tbody>#}
            </table>

       </div>

{% endblock %}
{##}
{##}
{#            <table >#}
{##}
{#                <tr>#}
{#                    <th>Tutors Name</th>#}
{#                    <th>Class Room</th>#}
{#                    <th>Day</th>#}
{#                    <th>Class Time</th>#}
{##}
{##}
{#                </tr>#}
{#                <tbody>#}
{##}
{#                <tr >#}
{##}
{##}
{#                    <td><a href="index" >John Smith</a></td>#}
{#                    <td>Z201</td>#}
{#                    <td>Monday</td>#}
{#                    <td>14:00-16:00</td>#}
{##}
{##}
{#                </tr>#}
{#                <tr>#}
{#                    <td><a href="index" >Will James</a></td>#}
{#                    <td>Z202</td>#}
{#                    <td>Monday</td>#}
{#                    <td>13:00-15:00</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td><a href="index" >Oliver Kendall</a></td>#}
{#                    <td>Z504</td>#}
{#                    <td>Tuesday</td>#}
{#                    <td>11:00-13:00</td>#}
{#                </tr>#}
{#              <tr>#}
{#                    <td><a href="index" >Xerxes Carman</a></td>#}
{#                    <td>Z504</td>#}
{#                    <td>Wednesday</td>#}
{#                    <td>11:00-13:00</td>#}
{#                </tr>#}
{#              <tr>#}
{#                    <td><a href="index" >Stan Pospisil</a></td>#}
{#                    <td>Z504</td>#}
{#                    <td>Friday</td>#}
{#                    <td>11:00-13:00</td>#}
{#                </tr>#}
{#              <tr>#}
{#                    <td><a href="index" >Sixten Meissner</a></td>#}
{#                    <td>Z504</td>#}
{#                    <td>Thursday</td>#}
{#                    <td>11:00-13:00</td>#}
{#                </tr>#}
{#              <tr>#}
{#                    <td><a href="index" >Aesop Everhart</a></td>#}
{#                    <td>Z504</td>#}
{#                    <td>Wednesday</td>#}
{#                    <td>11:00-13:00</td>#}
{#                </tr>#}
{##}
{##}
{#            </tbody>#}
{##}
